
 .welcomeText{
  padding: 2em;
}
   
.formContainer .brand {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: center;
    }
.formContainer .brand img {
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    }
    .formContainer .brand h2 {
      color: white;
      text-transform: uppercase;
    }

 .formContainer form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background-color: #3ca2ab79;
    padding: 3rem;
    width: 60vh;
    height: 90vh;
    border: #4e0eff solid 2px;
    align-items: center;
  }
  input {
    background-color: transparent;
    padding: 1rem;
    /* margin: 1px; */
    border: 0.1rem solid #533bd8fd;
    border-radius: 0.4rem;
    color: white;
    width: 100%;
    font-size: 1rem;
     }
    input:focus {
      border: 0.1rem solid #997af0;
      outline: none;
    }
 
  .btnRegister {
    background-color: #776c96;
    color: white;
    padding: 1rem 2rem;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1rem;
    text-transform: uppercase;
    position: fixed;
    margin-top: 30em;
    }
    button:hover {
      background-color: #4e0eff;
    }
  
  span {
    margin-top: 10px;
    color: white;
    text-transform: uppercase;
    }
    span a {
      color: #4e0eff;
      text-decoration: none;
      font-weight: bold;
    }
