.Container{
  display: grid;
  overflow: hidden;
  background-color: #080420;
  border-radius: 20px;
}
.Container .logo {
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
}
.Container .logo img {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}
.Container .logo h3 {
  color: white;
  text-transform: uppercase;
}
.current-user {
  background-color: #e41050;
  text-align: center;
  color: #9a86f3;
  width: 100%;
  display: flex;
  align-items: center;
}
.title{
  margin-top: 10px;
}

.title h2{
  color: white;
  text-transform: uppercase;
  text-align: center;
}

 .Container .contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
    gap: 0.5rem;
 }
 .Container .contacts ::webkit-scrollbar {
    width: 0.2rem;
 }
 .Container .contacts .contact {
      background-color: #ffffff34;
      cursor: pointer;
      width: 90%;
      border-radius: 0.2rem;
      padding: 0.4rem;
      display: flex;
      gap: 1rem;
      align-items: center;
      transition: 0.5s ease-in-out;
 }
  .username h3 {
          color: white;
        }

      
